/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #f9f9f9;
    color: #2a2a2a;
}

.section {
    margin-bottom: 20px;
}

.section-title {
    position: sticky;
    margin: 0;
    padding: 16px;
    text-transform: uppercase;
    text-align: center;
    background-color: #ccc;
    top: -1px;
} */

* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0;
    background-color: #f9f9f9;
}

.container {
    min-height: 100vh;
    position: relative;
}

.box {
    height: 150px;
    width: 150px;

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.box:nth-child(1) {
    background-color: aqua;
    top: 20px;
    left: 120px;
    z-index: 3;
}

.box:nth-child(2) {
    background-color: red;
    top: 30px;
    left: 220px;
    z-index: 4;
}

.box:nth-child(3) {
    background-color: orange;
    top: 140px;
    left: 210px;
    z-index: 2;
}

.box:nth-child(4) {
    background-color: rgb(73, 112, 22);
    left: 110px;
    top: 120px;
    z-index: -1;
}